section.about
    .container
        +blockBox("What we do", "Story about us", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus rem eveniet, nihil consequuntur commodi vitae sequi Laborum eaque pariatur, illum assumenda consequuntur obcaecati fuga laboriosam praesentium at cumque eius totam.")
        .about-list
            +aboutItem("./images/img-about1.png", "Super Team")
            +aboutItem("./images/img-about2.png", "Super Team")
            +aboutItem("./images/img-about3.png", "Super Team")