footer.footer
    .container
        .footer-top
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero vitae dicta ducimus tempora ea, sint minus nobis repellat expedita porro iste sunt consequuntur est nisi possimus ex maiores nesciunt.
                p.footer-follower <strong>15k</strong> followers
                .footer-social
                    span Follow Us:
                    .footer-social-list
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube
                form.footer-form(action="javascript:void(0)")
                    input(type="email" placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs1.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date Jan 9, 2022
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs2.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date Jan 9, 2022
                a(href="#").footer-blog
                    img.footer-blog-image(src="./images/img-blogs3.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-date Jan 9, 2022
            .footer-column
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1577100078641-e92b0a906760?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1597742800947-e17e915b8d83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1587931338382-aecda7e43025?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1529338296731-c4280a44fc48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1521494994093-d4fe5669b500?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1621610087641-f3e6fbe7a3d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1441&q=80")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1577100078641-e92b0a906760?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                a(href="#").footer-images-more View more phots
        .footer-bottom &copy; 2022 MoGo free PSD template by <span>Laaqiq</span>