section.work
    .container
        +blockBox("What we do", "Some of out work", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ducimus ea fugiat iure quis fuga velit id qui error quam minima, animi similique? Nostrum sequi sint ex quo ullam numquam.")
    .work-list
        .work-column
            .work-item
                img.work-image(src="./images/img-work1.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
            .work-item
                img.work-image(src="./images/img-work2.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
        .work-column
            .work-item
                img.work-image(src="./images/img-work3.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
            .work-item
                img.work-image(src="./images/img-work4.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
        .work-column
            .work-item
                img.work-image(src="./images/img-work5.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
        .work-column
            .work-item
                img.work-image(src="./images/img-work6.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit
            .work-item
                img.work-image(src="./images/img-work7.png")
                .work-content
                    img(src="./images/img-work-icon.png").work-img
                    h3.work-title Creatively designed
                    span.work-desc Lorem ipsum dolor sit